<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="true" version="3.0">
  <display-name>Rebbon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RebbonHandler</servlet-name>
    <servlet-class>com.rebbon.server.RebbonHandler</servlet-class>
    <init-param>
      <param-name>SHFolder</param-name>
      <param-value>/home/ramu/Development/apache-tomcat-7.0.55/webapps/Rebbon/EVISTREAM/</param-value>
    </init-param>
    <init-param>
      <param-name>WorkingDirecory</param-name>
      <param-value>/home/ramu/Development/apache-tomcat-7.0.55/webapps/Rebbon/APPDATA/STREAMDATA/</param-value>
    </init-param>
    <init-param>
      <param-name>EviRecordHome</param-name>
      <param-value>/home/ramu/Development/apache-tomcat-7.0.55/webapps/Rebbon/CaseRecords/</param-value>
    </init-param>
    <init-param>
      <param-name>ClazRecordHome</param-name>
      <param-value>/home/ramu/Development/apache-tomcat-7.0.55/webapps/Rebbon/ClazRecords/</param-value>
    </init-param>
    <init-param>
      <param-name>TempDirectory</param-name>
      <param-value>/home/ramu/Development/apache-tomcat-7.0.55/webapps/Rebbon/Temp/</param-value>
    </init-param>
    <init-param>
      <param-name>liveCam1</param-name>
      <param-value>http://rebbon.com/samples/speaker1.mp4</param-value>
    </init-param>
    <init-param>
      <param-name>liveCam2</param-name>
      <param-value>http://rebbon.com/samples/speaker2.mp4</param-value>
    </init-param>
    <init-param>
      <param-name>liveCam3</param-name>
      <param-value>http://rebbon.com/samples/judi1.mp4</param-value>
    </init-param>
    <init-param>
      <param-name>liveCam4</param-name>
      <param-value>http://rebbon.com/samples/judi2.mp4</param-value>
    </init-param>
     <init-param>
      <param-name>liveCam5</param-name>
      <param-value>http://rebbon.com/samples/judi3.mp4</param-value>
    </init-param>
    
     <init-param>
      <param-name>liveCam6</param-name>
      <param-value>http://rebbon.com/samples/judi4.mp4</param-value>
    </init-param>
    <init-param>
      <param-name>liveAud1</param-name>
      <param-value>rtsp://192.168.0.113/live</param-value>
    </init-param>
    <init-param>
      <param-name>liveAud2</param-name>
      <param-value>rtsp://192.168.0.113/live</param-value>
    </init-param>
    <init-param>
      <param-name>liveAud3</param-name>
      <param-value>rtsp://192.168.0.113/live</param-value>
    </init-param>
    <init-param>
      <param-name>liveAud4</param-name>
      <param-value>rtsp://192.168.0.113/live</param-value>
    </init-param>
    <init-param>
      <param-name>Feed1</param-name>
      <param-value>vidch1.mp4</param-value>
    </init-param>
    <init-param>
      <param-name>Feed2</param-name>
      <param-value>vidch2.mp4</param-value>
    </init-param>
    <init-param>
      <param-name>Feed3</param-name>
      <param-value>vidch3.mp4</param-value>
    </init-param>
    <init-param>
      <param-name>Feed4</param-name>
      <param-value>vidch4.mp4</param-value>
    </init-param>
    <init-param>
      <param-name>Feed5</param-name>
      <param-value>audch1.mp3</param-value>
    </init-param>
    <init-param>
      <param-name>Feed6</param-name>
      <param-value>audch2.mp3</param-value>
    </init-param>
    <init-param>
      <param-name>Feed7</param-name>
      <param-value>audch3.mp3</param-value>
    </init-param>
    <init-param>
      <param-name>Feed8</param-name>
      <param-value>audch4.mp3</param-value>
    </init-param>
    <init-param>
      <param-name>RebId</param-name>
      <param-value>r101</param-value>
    </init-param>
    <init-param>
      <param-name>IpAddressForAppServer</param-name>
      <param-value>127.0.0.1</param-value>
    </init-param>
    <init-param>
      <param-name>IpAddressForClient</param-name>
      <param-value>192.168.0.106</param-value>
    </init-param>
    <init-param>
      <param-name>RebbonPort</param-name>
      <param-value>8080</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RebbonHandler</servlet-name>
    <url-pattern>/RebbonHandler</url-pattern>
  </servlet-mapping>
</web-app>